doctype html
html
    head
        title = "Hello Pug"
    header
        h1 Header Pug!
        div Short div
        div. 
            Longer div that,
            May have extra information in it and 
            we don't want new lines everywhere
    body
        p.message#greeting Hello Pug!