extends layout

block content
    .main.container
        .row
            .col-sm
                p text
            .col-sm
                h1.display-4 Welcome
                div.message
                    h3 Welcome to the application!
                    p You are logged in